/** 
	* @name component.css
	* @desc CSS StyleSheet
	* @version v1.0 - Brasília, 16 de Julho de 2018
	* @author Thiago Borges
	* @category CSS
	* @package EPL S.A. - PUBLICARE
*/ 
 
*, *:after, *::before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

/* Icomoon.com */  

.gn-menu-mainpbl, .gn-menu-mainpbl ul {
	margin: 0; padding: 0; background: white; color: #5f6f81; list-style: none;
	text-transform: none; font-weight: 300; line-height: 50px;
}

.gn-menu-mainpbl {
	position: fixed !important; top: 0; left: 0; width: 100%; height: 50px; font-size: 13px; z-index: 9999999;
	border-bottom: 1px solid #c6d0da;
}

.gn-menu-mainpbl a {display: block; height: 100%; color: #5f6f81; text-decoration: none; cursor: pointer;}
.gn-menu-mainpbl a:hover {color: #ffffff; background: #5f6f81;}

.no-touchpbl .gn-menu-mainpbl a:hover,
.no-touchpbl .gn-menupbl li.gn-search-itempbl:hover,
.no-touchpbl .gn-menupbl li.gn-search-itempbl:hover a {background: #5f6f81; color: white;}

.gn-menu-mainpbl > li {display: block; float: left; height: 100%; border-right: 1px solid #c6d0da; text-align: center;}

/* icon-only trigger (menu item) */

.gn-menu-mainpbl li.gn-triggerpbl {position: relative; width: 60px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}

.gn-menu-mainpbl > li:last-child {float: right; border-right: none; border-left: 1px solid #c6d0da;}

.gn-menu-mainpbl > li.logado {padding: 0 30px; position: relative; text-transform: uppercase; letter-spacing: 1px; font-weight: bold; word-wrap: break-word; line-height: 1.4 !important;}
.gn-menu-mainpbl > li.logado .name {padding: 0; position: relative; top:50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); transform: translateY(-50%);}
.gn-menu-mainpbl > li > a.logout {padding: 0 30px; text-transform: uppercase; letter-spacing: 1px; font-weight: bold;}

@media (max-width: 768px) {	
.gn-menu-mainpbl > li.logado { padding: 0 20px; width: 248px;}
.gn-menu-mainpbl > li > a.logout { padding: 0 !important;}
.gn-menu-mainpbl > li > a.logout i { font-size: 28px; line-height: 50px; height: 50px; width: 60px; text-align: center;}
.gn-menu-mainpbl > li > a.logout span {display: none;}
}
@media (max-width: 390px) {	
.gn-menu-mainpbl > li.logado { width: 150px; overflow: hidden; text-align: left; word-wrap: normal; white-space: nowrap;}
}

.gn-menu-mainpbl:after {display: table; clear: both; content: "";}

.gn-menu-wrapperpbl {
	position: fixed; top: 50px; bottom: 0; left: 0; overflow: hidden; width: 60px; border-top: 1px solid #c6d0da; background: white;
	-webkit-transform: translateX(-60px); -moz-transform: translateX(-60px); transform: translateX(-60px);
	-webkit-transition: -webkit-transform 0.3s, width 0.3s; -moz-transition: -moz-transform 0.3s, width 0.3s; transition: transform 0.3s, width 0.3s;
	-khtml-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3);
}

.gn-scrollerpbl {position: absolute; overflow-y: scroll; width: 370px; height: 100%;}

.gn-menupbl > li {
	display: table; position: relative;	width: 100%; font-size: 16px;
	text-align: left !important; padding:0 !important; margin: 0 !important;
}
.gn-menupbl > li > a {
	display: block; position: relative; padding: 15px 15px 15px 60px !important; margin: 0 !important; width: 100%;
	height: auto !important; line-height: 1.3 !important; text-align: left !important;
	border-bottom: 1px solid #c6d0da; cursor: auto;
}
.gn-menupbl > li > a:hover {color: #5f6f81 !important; background: #ffffff !important;}

.gn-menupbl > li > a > i {
	position: absolute; top:50%; left: 0; width: 60px; font-size: 20px; text-align: center;
	-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);
}

.gn-submenupbl li {
	position: relative; width: 100%; height: 0; overflow: hidden;
	padding:0 !important; margin: 0 !important;
	-webkit-transition: height 0.3s; -moz-transition: height 0.3s; transition: height 0.3s;
}
.gn-submenupbl li a {
	display: block; position: relative; width: 100%; padding: 12px 12px 12px 70px;
	color: #889eb3; font-size: 14px; border-bottom: 1px solid #c6d0da;
}
.gn-submenupbl li a:hover {color: #ffffff; background: #5f6f81;}

.gn-submenupbl li a i {
	position: absolute; top:50%; left: 20px; width: 50px; font-size: 20px; text-align: center;
	-webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%);
}

.gn-submenupbl li ul li a, .gn-submenupbl li ul.gn-submenupbl li a {padding: 12px 12px 12px 90px;}
.gn-submenupbl li ul li a i, .gn-submenupbl li ul.gn-submenupbl li a i {left: 40px;}

.gn-iconpbl::before { display: inline-block; width: 60px; text-align: center; text-transform: none; font-weight: normal; font-style: normal; font-variant: normal; font-family: 'ecoicons'; line-height: 1; speak: none; -webkit-font-smoothing: antialiased;}

/* if an icon anchor has a span, hide the span */

.gn-iconpbl span {width: 0; height: 0; display: block; overflow: hidden; color: #5f6f81;}

.gn-icon-menupbl::before {
	top: 55%; left: 50%; position: absolute; margin-left: -1px; vertical-align: -2px; width: 29px; height: 3px;
	background: #5f6f81; box-shadow: 0 -6px #5f6f81, 0 -12px #5f6f81; content: '';
	-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transform: translateX(-50%);
}

.gn-icon-menupbl:hover::before,
.gn-icon-menupbl.gn-selectedpbl:hover::before { background: #ffffff; box-shadow: 0 -6px #ffffff, 0 -12px #ffffff;}

.gn-icon-menupbl.gn-selectedpbl::before {background: #5f6f81; box-shadow: 0 -6px #5f6f81, 0 -12px #5f6f81;}

/* styles for opening menu */

.gn-menu-wrapperpbl.gn-open-allpbl,
.gn-menu-wrapperpbl.gn-open-partpbl {-webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px);}

.gn-menu-wrapperpbl.gn-open-allpbl {
	width: 340px; -khtml-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3); box-shadow: 0 11px 20px rgba(0, 0, 0, 0.3);
}

.gn-menu-wrapperpbl.gn-open-allpbl .gn-submenupbl li {
	height: auto; line-height: 1.3 !important;
	-webkit-transition: height 0.3s; -moz-transition: height 0.3s; transition: height 0.3s;
}

.gn-menu-wrapperpbl.gn-open-allpbl .gn-submenupbl li a {
	height: auto; line-height: 1 !important;
	-webkit-transition: height 0.3s; -moz-transition: height 0.3s; transition: height 0.3s;
}

@media screen and (max-width: 422px) { 
	.gn-menu-wrapperpbl.gn-open-allpbl {-webkit-transform: translateX(0px); -moz-transform: translateX(0px); transform: translateX(0px); width: 100%;}

	.gn-menu-wrapperpbl.gn-open-allpbl .gn-scrollerpbl {width: 130%}
}
